gcp-sa.json
.env
examples/
.cursor/
dataform/
analytics/target/
analytics/dbt_packages/
analytics/logs/
logs/
__pycache__/
dbt_internal_packages/

# Python bytecode & cache
*.py[cod]

# IDE / Editor files
.DS_Store
.idea/
*.swp
